body, html {
  height: 100%;
  font-family: 'Roboto', sans-serif;
  color: rgba(65, 64, 66);
  margin: 0;
  background-color: rgba(65, 64, 66);
  /* padding-top: 70px; */
  /* overflow: hidden; */
}

h1 {
  font-weight: bold;
}

section { 
  min-height:100%; 
  /* margin-top: 40px !important; */
  padding-top: 40px !important;
  max-width: 1300px;
  /* padding-right: 50px; */
}
.container-fluid {
  padding-left: 60px;
  padding-right: 60px;
}
/* .nomargin {margin-right: -40;} */

a.anchor {
  display: block;
  position: relative;
  top: -100px;
  visibility: hidden;
}

.about-header {
  color:white;

}

.about-text {
  color:white;

}

.jumbotron .bg-img {
  /* The image used */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("../img/ams-1.jpg");

  /* Add the blur effect */
  /* filter: blur(2px); */
  /* -webkit-filter: blur(2px); */

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Position text in the middle of the page/image */
.jumbotron .bg-text {
  color: white;
  /* background-color: rgb(0,0,0); Fallback color */
  background-color: rgba(65, 64, 66, 0.7); /3* Black w/opacity/see-through  */ 
  font-weight: bold;
  border: 3px solid #f1f1f1;
  border-radius: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 70%;
  padding: 10px;
  text-align: center;
}

.bg-text img {
    max-height: 15vh;
}

nav {
  position: sticky;
  background-color: white;
  
}

.navbar {
  z-index:999999999;
}


.navbar-brand {
  padding: 0;
}


img.logo {
  padding-top: 0px;
  width: 200px;
  height: auto;
}


.head-logo {
  margin: 20px;
}


.button {

  display: inline-block;
  height: 40px;
  width: 200px;
  line-height: 40px;
  padding-right: 5px;
  padding-left: 15px;
  position: relative;
  text-decoration: none;
  text-transform: none
  letter-spacing: 1px;
  margin-bottom: 14px;
  /* text-shadow:1px 1px 0px rgba(0,0,0,0.5); */
  background-color: #4fc3f7;
  color:white;
  border-radius: 5px;
}

.button:hover {
  text-decoration: none;
  border: 2px solid #4fc3f7;
  background-color: white;
  color:#4fc3f7;
  /* border: 8px; */
  /* border: 20px #4fc3f7; */
}

*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
  }
  

  
  .cover-thing {
      width: 100%;
      height: 100%;
      float: left;  
  }
  
  .first {
      /* background-color: #333; */
      color: white;
  }
  
  .second {
      /* background-color: #eee; */
  }
  
  .third {
      /* background-color: #f06; */
  }
  

.icon-bar.vertical {
  z-index:99999999;
  position: fixed;
  top: 50%;
  right: 0px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.icon-bar.vertical a {
  display: block;
}
/* Style the icon bar links */
.icon-bar a {
  text-align: center;
  padding: 8px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
  
}



/* Style the social media icons with color, if you want */
.icon-bar a:hover {
  background-color: #000;
}


.footer {
    background-color: #4285f4;
    padding: 5px;
  }

.instagram {
  background: #C13584;
  color: white;
  }

.facebook {
  background: #4267B2;
  color: white;
}

.twitter {
  background: #1DA1F2;
  color: white;
}

.discord {
  background: #7289DA;
  color: white;
}

.linkedin {
  background: #2867B2;
  color: white;
}

.meetup {
  background: #ED1C40;
  color: white;
}





*:hover{
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.row{ 
&:before, &:after{ 
  display: block; 
} 
}


/* h1{float:left; width:100%; color:#232323; margin-bottom:30px; font-size: 14px;}
h1 span{font-family: 'Libre Baskerville', serif; display:block; font-size:45px; text-transform:none; margin-bottom:20px; margin-top:30px; font-weight:700}
h1 a{color:#131313; font-weight:bold;} */
.col-sm{
  min-width: 400px;
  max-width: 400px;
  margin-bottom:15px;
}

/*Profile Card 3*/
.profile-card-3 {
/* font-family: 'Open Sans', Arial, sans-serif; */
position: relative;
float: left;
overflow: hidden;
width: 100%;
text-align: center;
height:550px;
border:none;

}
.profile-card-3 .background-block {
  float: left;
  width: 100%;
  height: 200px;
  overflow: hidden;
}
.profile-card-3 .background-block .background {
width:100%;
vertical-align: top;
opacity: 0.9;
-webkit-filter: blur(0.5px);
filter: blur(0.5px);
 -webkit-transform: scale(1.8);
transform: scale(2.8);
}
.profile-card-3 .card-content {
width: 100%;
padding: 15px 25px;
color:#232323;
float:left;
background:#efefef;
height:70%;
border-radius:0 0 5px 5px;
position: relative;
z-index: 9999;
}
.profile-card-3 .card-content::before {
  content: '';
  background: #efefef;
  width: 120%;
  height: 100%;
  left: 11px;
  bottom: 51px;
  position: absolute;
  z-index: -1;
  transform: rotate(-13deg);
}
.profile-card-3 .profile {
border-radius: 50%;
position: absolute;
bottom: 50%;
left: 50%;
max-width: 100px;
opacity: 1;
box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);
border: 2px solid rgba(255, 255, 255, 1);
-webkit-transform: translate(-50%, 0%);
transform: translate(-50%, 0%);
z-index:99999;
}
.profile-card-3 h2 {
margin: 0 0 5px;
font-weight: 600;
font-size:25px;
}
.profile-card-3 h2 small {
display: block;
font-size: 15px;
margin-top:10px;
}
.profile-card-3 i {
display: inline-block;
  font-size: 16px;
  color: #232323;
  text-align: center;
  border: 1px solid #232323;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50%;
  margin:0 5px;
}
.profile-card-3 .icon-block{
  float:left;
  width:100%;
  margin-top:15px;
}
.profile-card-3 .icon-block a{
  text-decoration:none;
}
.profile-card-3 i:hover {
background-color:#232323;
color:#fff;
text-decoration:none;
}

#events {
background-color: #00bfa5;
}

.row-striped:nth-of-type(odd){
background-color: #efefef;
border-left: 8px #000000 solid;
}

.row-striped:nth-of-type(even){
background-color: #ffffff;
border-left: 8px #efefef solid;
}

.row-striped {

  padding: 10px 0;
}
